<h1>{{ selectedDate() }}</h1>
<div class="container-fluid d-flex justify-content-center mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row border">
          <div class="col-6">
            <form class="example-form">
              <mat-form-field class="searchRestaurant example-full-width">
                <mat-label>Restaurants</mat-label>
                <input
                  type="text"
                  placeholder="Select a Restaurant"
                  aria-label="Restaurants"
                  matInput
                  [value]="searchRestaurant()"
                  (selectionchange)="onSearchRestaurant($event)"
                  [matAutocomplete]="restaurantNames"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #restaurantNames="matAutocomplete"
                >
                  @for (option of filteredRestaurants(); track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </div>
          <div class="col-6">
            <form class="example-form">
              <mat-form-field class="searchRestaurant example-full-width">
                <mat-label>Restaurant Branches</mat-label>
                <input
                  type="text"
                  placeholder="Select a Branch"
                  aria-label="Branches"
                  matInput
                  [value]="searchBranch()"
                  (input)="onSearchBranches($event)"
                  [matAutocomplete]="restaurantBranchNames"
                  [disabled]="filteredBranches().length <= 0"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #restaurantBranchNames="matAutocomplete"
                >
                  @for (option of filteredBranches() ; track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row d-flex justify-content-center mt-5">
          @for (table of dinningTables(); track $index) {
          <div class="col-3 border rounded m-2">
            <p>Name: {{ table.tableName }}</p>
            <p>Date: {{ table.reservationDay | date : "dd/MM/yyyy" }}</p>
            <p>Meal Type: {{ table.mealType }}</p>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
