/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400;1,600;1,700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
}
:root {
  --primary-color: #981c20;
  --secondary-color: #0089df;
  --primary-text-color: var(--primary-color);
  --secondary-text-color: #575354;
  --tertiary-text-color: #838ba7;
  --background-light: #f8faff;
}
html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
