/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p {
//   @apply font-nunito;
// }
:root {
  --primary-color: rgb(133, 133, 255);
  // --secondary-color: #0089df;
  --primary-text-color: var(--primary-color);
  --secondary-text-color: #575354;
  --tertiary-text-color: #838ba7;
  --background-light: #f8faff;
}
html,
body {
  @apply font-nunito;
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.137);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.295);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
